<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.shimonishi.keiichiro.tryjwt.mapper.UserMapper">

    <select id="getUser" resultType="com.shimonishi.keiichiro.tryjwt.entity.UserEntity">
        select username, password from user where username = #{username}
    </select>

    <insert id="insert" parameterType="com.shimonishi.keiichiro.tryjwt.entity.UserEntity">
        insert into user(username, password) values (#{username}, #{password})
    </insert>
</mapper>
